<!-- Load an icon library -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<!-- The sidebar -->
<div class="sidebar-left">
  <a href="#I" id="OrangeButton"><i class="glyphicon glyphicon-italic"></i> </a>
  <a href="#home"><i class="fa fa-building"></i> </a>
  <a href="#stats"><i class="glyphicon glyphicon-signal"></i> </a>
  <a href="#homework"><i class="fa fa-pencil"></i> </a>
  <a href="#chart"><i class="fa fa-bar-chart"></i> </a>
  <a href="#task"><i class="fa fa-tasks"></i> </a>
  <a href="#clock"><i class="fa fa-clock-o"></i> </a>
  <a href="#logout" id="log-out"><i class="glyphicon glyphicon-arrow-right"></i>
  </a>
</div>


<!-- Add Content Here -->
<div class="main">
  
  <app-dashboard></app-dashboard>
  <app-comment-and-tables></app-comment-and-tables>
  
</div>
