<div class="top-bar">
  <div class="top-bar-content">
    <div class="title-left">
      <h3 id="title">Jones Arc</h3>
    </div>
    <form class="form-inline my-2 my-lg-0 search-bar">
      <form class="form-inline my-2 my-lg-0 search-bar" id="search-bar">
        <div class="search-container">
          <button class="btn search-button" type="submit">
            <i class="fa fa-search"></i>
          </button>
          <input
            class="form-control search-input" id="search-input" placeholder="Search projects, clients, staff and more"aria-label="Search"
          />
        </div>
      </form>
    </form>
    <div class="btn-group" role="group">
      <button class="btn" id="btn-circle"><i class="fa fa-plus-circle"></i></button>
      <!-- Cross icon -->
      <button class="btn" id="btn-clock"><i class="fa fa-clock-o"></i></button>
      <!-- Clock icon -->
    </div>
    <div class="btn-group" >
      <div class="image-placeholder"></div>
      <button
        type="button"
        class="btn btn-light dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        id="username"
      >
        Your Name
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
    <button class="btn" id="btn-question"><i class="fa fa-question-circle-o"></i></button>
    <!-- Question mark icon -->
  </div>
</div>

<div class="top-bar-links" tabindex="10">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link " aria-current="true" 
        >Balance company score</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="strategy-btn" >Strategy Maps</a>
    </li>
    <li class="nav-item">
      <a class="nav-link "  tabindex="-1" aria-current="true"
        >KPI</a
      >
    </li>
  </ul>
</div>

<div class="stm-container">
  <div class="image-placeholder"></div>
  <div class="stm-content">
    <h3>STM 2019</h3>
  </div>

 
</div>
